/* ---------------------------- */
/* Basic setup */
/* ---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after{
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

/* ---------------------------- */
/* Reusable component */
/* ---------------------------- */

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

section {
    padding: 88px 0;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 80%;
    line-height: 145%;
    text-align: justify;
}

.long-text {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}


/* ---------------------------- */
/* IOCNS */
/* ---------------------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    margin-left: 35%;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    line-height: 100%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

/* ---------------------------- */
/* INPUTS */
/* ---------------------------- */

textarea {
    min-height: 100px;
    min-width: 50%;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 10px;
}

/* ---------------------------- */
/* KEYBOARD */
/* ---------------------------- */

.section-main {
    width: 660px;
    margin: auto;
}

.keyboard-box {
    margin: 10px;
    width: 100%;
}

.switch {
    display: block;
    float: left;
    border: 1px solid #000;
    margin: 2px;
    padding: 0 4px;
    font-weight: 400;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: background-color 0.3s ease;
    z-index: 1;
}
.switch p {
    z-index: 0;
}

.switch:hover {
    background-color: #555;
    color: #fff;
    cursor: default;
}

.switch:active {
    background-color: #bdb9b9;
}

.btn-cmd {
    width: 65px;
    font-size: 60%;
    padding-top: 3px;
}

.btn-2 {
    width: 84px;
    font-size: 60%;
    padding-top: 1px;
}

.btn-3 {
    width: 91px;
    font-size: 60%;
}

.btn-4 {
    width: 106px;
    font-size: 60%;
    padding-top: 3px;
}

.arrow-div{
    position: relative;
    display: inline-table;
}

.btn-arrow{
    height: 20px;
    margin-top: 22px;
    font-size: 70%;
}

.btn-up {
    margin: 0px 2px 7px 45px;
    position: absolute;
}

.btn-space {
    width: 254px;
}

.btn-active {
    background-color: #555;
    color: #fff;
}

.text-right{
    text-align: right;
}

.small-font {
    font-size: 60%;
    text-align: center;
    padding-top: 3px;
}

.btn-numbers {
    text-align: center;
    font-size: 80%;
}

.position-relative{
    position: relative;
}

.caps-off {
    border: 1px solid #555;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.caps-on {
    background-color: #2cec09;
}
